.listOfArticlesHeader {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 6vw;
  color: rgb(102, 151, 115);
}

@media screen and (min-width: 900px) {
  .listOfArticlesHeader {
    font-size: 4vw;
  }
}

.articleListFlex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-between;
}

.articleListGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: minmax(200px, auto);
  grid-gap: 1rem;
}
