.querySelectorLabel {
  font-family: "Open Sans", sans-serif;
  font-size: 3vw;
  padding-right: 20px;
  margin-bottom: 30px
}

.QueryButton {
  font-family: "Open Sans", sans-serif;
  font-size: 3vw;
}