.userProfileHeader {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 50px;
  color: rgb(102, 151, 115);
}

.userProfileFullName {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 30px;
  color: rgb(102, 151, 115);
}

.userProfileImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.articleListFlex {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: space-between;
}
