.App {
  background-color: #f6fcf7;
}

.ErrorMessage {
  color: red;
  font-size: 40px;
  
}

.websiteHeader {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 65px;
  margin-bottom: 5px;
  margin-top: 0;
  color: rgb(102, 151, 115);
}

/*----------------------------------------------- BurgerMenu Styling --------------------------------------------------------------*/

/* Position and sizing of burger button */
.bm-burger-button {
  position: fixed;
  width: 36px;
  height: 30px;
  left: 36px;
  top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background:  rgb(102, 151, 115);
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #BA0C2F;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 24px;
  width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: white;
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
  position: fixed;
  height: 100%;
}

/* General sidebar styles */
.bm-menu {
  background: #BA0C2F;
  padding: 0;
  font-size: 1.15em;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: #373a47;
}

/* Wrapper for item list */
.bm-item-list {
  color: #b8b7ad;
  padding: 0.8em;
}

/* Individual item */
.bm-item {
  display: inline-block;
  color: white;
  font-family: "Open Sans", sans-serif;
  font-size: 30px;
  padding: 10px;
}

/* Styling of overlay */
.bm-overlay {
  background: rgba(250, 248, 248, 0.3);
}
