.navbar {
  display: flex;
  justify-content: center;
}

.navbarItem {
  padding: 15px;
  border: 2px solid black;
  margin: 10px;
  width: 100px;
  text-align: center;
  font-size: 20px;
  background-color: peachpuff;
}

.WebsiteHeader {
  text-align: center;
  font-size: 50px;
}

.centre {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.articleCard {
  padding: 15px;
  border: 2px solid black;
  margin: 10px;
  list-style-type: none;
  font-size: 20px;
}

.listOfArticlesHeader {
  text-align: center;
  font-size: 35px;
}

.WelcomeMessage {
  text-align: center;
  font-size: 40px;
}

.SingleArticle {
  font-size: 20px;
}

.commentItem {
  border: 1px solid black;
  margin: 10px;
  padding: 1px;
  list-style-type: none;
}

.smallHeaderNorthcodersN {
  height: 100px;
  width: 100px;
}
