.commentHeader {
  color: rgb(102, 151, 115);
  font-size: 7vw;
  text-align: center;
}

.commentSubheader {
  color: rgb(102, 151, 115);
  font-size: 5vw;
  text-align: center;
}

.commentSuccessMessage {
  font-size: 5vw;
  color: rgb(102, 151, 115);
  text-align: center;
}

.newCommentBox {
  width: 100%;
  resize: vertical;
  overflow: auto;
  padding: 0;
}

.listOfComments {
  margin: 0;
  padding: 0;
  border: 0;
}

.commentItem {
  margin: 25px;
  padding: 10px;
  border: 5px solid rgb(102, 151, 115);
  color: rgb(102, 151, 115);
  list-style-type: none;
  font-family: "Open Sans", sans-serif;
  font-size: 4vw;
}

