.commentSuccessMessage {
  font-size: 30px;
  color: green}

.commentFailureMessage {
  font-size: 30px;
  color: red;
}

.commentItem {
  margin: 25px;
  padding: 10px;
  box-shadow: 0 10px 12px 0 hsla(0, 0%, 0%, 0.2);
  list-style-type: none;
  font-family: "Gentium Basic", helvetica;
}

.listOfComments {
  margin: 0;
  padding: 0;
  border: 0;
}
