.commentHeader {
  color: rgb(102, 151, 115);
  font-size: 7vw;
  text-align: center;
}

@media screen and (min-width: 900px) {
  .commentHeader {
    font-size: 4vw;
  }
}

.commentSubheader {
  color: rgb(102, 151, 115);
  font-size: 5vw;
  text-align: center;
}

@media screen and (min-width: 900px) {
  .commentSubheader {
    font-size: 3.5vw;
  }
}

.commentSuccessMessage {
  font-size: 5vw;
  color: rgb(102, 151, 115);
  text-align: center;
}

@media screen and (min-width: 900px) {
  .commentSuccessMessage {
    font-size: 3.5vw;
  }
}

.newCommentBox {
  width: 100%;
  resize: vertical;
  overflow: auto;
  padding: 0;
}

.listOfComments {
  margin: 0;
  padding: 0;
  border: 0;
}

.commentItem {
  margin: 25px;
  padding: 10px;
  border: 5px solid rgb(102, 151, 115);
  color: rgb(102, 151, 115);
  list-style-type: none;
  font-family: "Open Sans", sans-serif;
  font-size: 4vw;
}

@media screen and (min-width: 900px) {
  .commentItem {
    font-size: 2vw;
  }
}

.buttonStyle {
  height: 3vw;
  width: 21vw;
}

.buttonText {
  font-size: 2vw;
  margin: 0;
}
