.SingleArticle {
  font-size: 3vw;
  font-family: "Open Sans", sans-serif;
  text-align: center;
}

.SingleArticleTitle {
  color: rgb(102, 151, 115);
  font-size: 7vw;
  text-align: center;
}

.bodyOfArticle {
  color: rgb(102, 151, 115);
  font-size: 4vw;
  font-weight: bold;
  align-content: center;
}

.extraInfoOnArticle {
  color: rgb(102, 151, 115);
  font-size: 3vw;
}

.votesOnArticle {
  color: rgb(102, 151, 115);
  font-size: 7vw;
}

.voteButton {
  height: 5vw;
  width: 35vw;
}

.buttonText {
  font-size: 3vw;
  margin: 0;
}
