.bodyOfArticle {
  color: rgb(102, 151, 115);
  font-weight: bold;
}

.extraInfoOnArticle {
  color: rgb(102, 151, 115);
}

.votesOnArticle {
  color: rgb(102, 151, 115);
  font-size: 25px;
}

.SingleArticle {
  font-size: 20px;
  font-family: "Open Sans", sans-serif;
}

.SingleArticleTitle {
    color: rgb(102, 151, 115)

}